.container{
    @apply w-full h-full bg-blue-700 border rounded-3xl px-5 pb-5 items-center flex flex-col shadow-2xl;
    position:relative;
}

.wrapper{
    width: 100%;
    height: 75vh;
    padding: 1.25rem;
}

.featured_bg{
    @apply h-full rounded-3xl bg-blue-500;
    place-items: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;  
    background-image: url("/assets/featured-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}